<div *ngIf="(olympic$ | async)">
<div class="title">{{ (olympic$ | async)?.country }}</div>

<div class="info">
  <div class="item">Number of entries<br> <strong>{{ (olympic$ | async)?.participations?.length }}</strong></div>
  <div class="item">Total number medals<br> <strong>{{ medalsNumber$ | async }}</strong></div>
  <div class="item">Total number of athletes<br> <strong>{{ athletesNumber$ | async }}</strong></div>
</div>

  <div class="line-chart" style="display: block">
    <ngx-charts-line-chart
      [showXAxisLabel]="showXAxisLabel"
      [xAxis]="xAxis"
      [yAxis]="yAxis"
      [xAxisLabel]="xAxisLabel"
      [results]="lineChartData$ | async">
    </ngx-charts-line-chart>
  </div>
    
</div>

<div *ngIf="!(olympic$ | async)">
  <p class="error">Oops, an error occurred please click on back button.</p>
</div>