.title {
    width: fit-content;
    border-radius: 10px;
    padding: 20px;
    margin: auto;
    color: white;
    background-color: cadetblue;
}

.info {
    display: flex;
    justify-content: center;
}

.item {
    padding: 10px;
    border: 2px solid cadetblue;
    border-radius: 10px;
    text-align: center;
    margin: 16px;
}

.line-chart{
    margin: auto;
    width: 400px;
}