<div class="title">Medals per Country</div>

<div class="info">
  <div class="item">Number of JOs<br> <strong>{{ (joNumber$ | async)?.length }}</strong></div>
  <div class="item">Number of countries<br> <strong>{{ (olympics$ | async)?.length }}</strong></div>
</div>

<div class="pie-chart" style="display: block">
  <ngx-charts-pie-chart
    [results]="pieChartData$ | async"
    [gradient]="gradient"
    [legend]="showLegend"
    [labels]="showLabels"
    [trimLabels]="maxLabelLenght"
    (select)="chartClicked($event)"

    
  >
  <ng-template #tooltipTemplate let-model="model">
    <div class="tooltip">{{ model.name }}
    <br>
    🏅 {{ model.value }}
  </div>
  </ng-template>   
</ngx-charts-pie-chart>
</div>


