<h2>Olympic games app</h2>
<hr />

<div class="title">Medals per Country</div>

<div class="info">
  <div class="item">Number of JOs<br> <strong>{{ (joNumber$ | async)?.length }}</strong></div>
  <div class="item">Number of countries<br> <strong>{{ (olympics$ | async)?.length }}</strong></div>
</div>



<div class="pie-chart" style="display: block">
  <canvas baseChart
    [labels]="(countries$ | async) ?? []"
    [data]="pieChartData"
    [type]="pieChartType"
    [options]="pieChartOptions"
    (chartClick)="chartClicked($event)">
  </canvas>
</div>
